.nav {
    background-color: darkblue;
    color: yellow;
    padding: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
}
#heading{
    color: blue;
}
/* h1{
    color: black;
    padding: 1rem;
} */
div {
    border: 2px solid brown;
    background-color: aliceblue;
}

/* *{
    border: 3px solid black;
} */